@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

html body {
	font-family: 'Nanum Gothic Coding', Sans-Serif;
	font-size: 15px;
	background: #BBB;
}
.container {
	background: #FFF;
	border-radius: 2px;
}
label {
	font-size: .9em;
}
.fixedwidth {
	font-family: 'Nanum Gothic Coding', monospace, sans-serif;
}
#scriptarea {
	font-size: .95em;
	min-height: 200px;
	max-height: 500px;
	padding: 4px;
	word-break: keep-all;
	white-space: pre;
	width: 100%;
	border: 1px solid #ddd;
	overflow:auto;
	resize: both;
}
#scriptarea:empty:before {
	content: attr(placeholder);
	display: block;
	color: #666;
}
#inputs {
	width: 100%;
	height: 10em;
	float: left;
}
#outputs {
	width: 100%;
	height: 12em;
	float: right;
}
#batch {
	width: 6em;
}
.running {
	background-color: #eef;
}
.stopped {
	background-color: #ffe;
}
.finished {
	background-color: #efe;
}
.list-group-item.collapse {
	display: none;
}
#stacks .list-group-item.show:first-of-type {
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
}
#stacks .list-group-item.show:last-of-type {
	margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
